@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@layer components {
  .background_w_image {
    padding-bottom: 1.57042%;
    padding-top: 0%;
    padding-left: 0;
    width: 105%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://content.app-sources.com/s/58783475964065609/uploads/Images/Purple_Dark_Blur_Gradient_Glass_Effect_Reminder_Notification_Instagram_Post-2865570.png?format=webp");
  }

  .backgroundColor {
    background-color: #151515;
  }

  .blueColor {
    color: rgb(41, 105, 176);
  }

  .divider {
    width: 100%;
    background-color: white;
    height: 1px;
  }

  .image-filter {
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 1));
  }
}

.video_vsl {
  display: flex !important;

  @media screen and (min-width: 10px) {
    width: auto !important;
    height: auto !important;
  }
  @media screen and (min-width: 300px) {
    width: 350px !important;
    height: 150px !important;
  }
  @media screen and (min-width: 350px) {
    width: 350px !important;
    height: 200px !important;
  }
  @media screen and (min-width: 400px) {
    width: 400px !important;
    height: 220px !important;
  }
  @media screen and (min-width: 500px) {
    width: 500px !important;
    height: 300px !important;
  }
  @media screen and (min-width: 600px) {
    width: 600px !important;
    height: 400px !important;
  }
  @media screen and (min-width: 767px) {
    width: 760px !important;
    height: 580px !important;
  }
  @media screen and (min-width: 1100px) {
    width: 1000px !important;
    height: 800px !important;
  }
  @media screen and (min-width: 1300px) {
    width: 1200px !important;
    height: 900px !important;
  }
}

.imgLogo {
  display: flex !important;
  @media screen and (min-width: 10px) {
    width: auto !important;
  }
  @media screen and (min-width: 300px) {
    width: 150px !important;
  }
  @media screen and (min-width: 400px) {
    width: 200px !important;
  }
  @media screen and (min-width: 500px) {
    width: 250px !important;
  }
  @media screen and (min-width: 600px) {
    width: 300px !important;
  }
  @media screen and (min-width: 767px) {
    width: 350px !important;
  }
  @media screen and (min-width: 1100px) {
    width: 400px !important;
  }
  @media screen and (min-width: 1300px) {
    width: 400px !important;
  }
}

.isMobile {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

body {
  background-color: #000;
  /* font-family: sans-serif; */

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  max-width: "100vw";
}

@media screen and (min-width: 768px) {
  #countdown-timer {
    display: flex;
    flex-direction: column;
    top: 20px;
    background-color: #000;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid;
    box-shadow: 1px 2px 1px;
  }
}

@media screen and (max-width: 768px) {
  #countdown-timer {
    display: flex;
    flex-direction: column;
    background-color: #000;
    bottom: 15px;
    width: 75%;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-top: 1px solid;
    border-radius: 10px;
    box-shadow: 0px 1.5px 2px white;
    align-content: center;
  }
}
